In [68]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import os

In [69]:
# Create reference to CSV file
csv_path = Path("CrimeStats.csv")
crime = pd.read_csv(csv_path)

crime.head(5)

,SORT_ORDER,Crime,ADAMS NORTH,ALLIED GARDENS,ALTA VISTA,AZALEA/HOLLYWOOD PARK,BALBOA PARK,BARRIO LOGAN,BAY HO,BAY PARK,...,TIJUANA RIVER VALLEY,TORREY HIGHLANDS,TORREY PINES,TORREY PRESERVE,UNDEFINED,UNIVERSITY CITY,UNIVERSITY HEIGHTS,VALENCIA PARK,WOODED AREA,Total
0,1,Murder,0,0,0,0,0,3,0,0,...,1,0,0,0,1,0,0,0,0,41
1,2,Rape,1,1,0,0,2,7,2,3,...,1,0,2,2,9,7,3,1,3,489
2,3,Armed Robbery,0,1,0,1,4,12,4,3,...,0,0,0,0,0,4,2,2,1,567
3,4,Strong Arm Robbery,0,1,1,0,2,14,2,7,...,0,0,0,0,8,22,5,2,0,761
4,5,Aggravated Assault**,12,15,4,11,38,67,15,26,...,1,7,3,0,36,52,25,65,1,4605

In [70]:
crime = crime.T
crime

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
SORT_ORDER,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Crime,Murder,Rape,Armed Robbery,Strong Arm Robbery,Aggravated Assault**,Total Violent Crime,Residential Burglary,Non-Residential Burglary,Total Burglary,Theft >= $400,Theft < $400,Total Thefts,Motor Vehicle Theft,Total Property Crime,Crime Index
ADAMS NORTH,0,1,0,0,12,13,11,7,18,30,15,45,13,76,89
ALLIED GARDENS,0,1,1,1,15,18,9,11,20,47,36,83,34,137,155
ALTA VISTA,0,0,0,1,4,5,1,0,1,1,3,4,7,12,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UNIVERSITY CITY,0,7,4,22,52,85,71,53,124,418,314,732,137,993,1078
UNIVERSITY HEIGHTS,0,3,2,5,25,35,23,14,37,70,55,125,46,208,243
VALENCIA PARK,0,1,2,2,65,70,5,3,8,23,27,50,46,104,174
WOODED AREA,0,3,1,0,1,5,0,1,1,15,8,23,1,25,30
Total,41,489,567,761,4605,6463,1451,1661,3112,9531,7471,17002,6999,27113,33576

In [71]:
# Set the "Crime" row as column names
crime.columns = crime.loc['Crime']

# # Reset the index name if needed
# crime.index.name = 'neighborhood'

crime.head()

Crime,Murder,Rape,Armed Robbery,Strong Arm Robbery,Aggravated Assault**,Total Violent Crime,Residential Burglary,Non-Residential Burglary,Total Burglary,Theft >= $400,Theft < $400,Total Thefts,Motor Vehicle Theft,Total Property Crime,Crime Index
SORT_ORDER,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
Crime,Murder,Rape,Armed Robbery,Strong Arm Robbery,Aggravated Assault**,Total Violent Crime,Residential Burglary,Non-Residential Burglary,Total Burglary,Theft >= $400,Theft < $400,Total Thefts,Motor Vehicle Theft,Total Property Crime,Crime Index
ADAMS NORTH,0,1,0,0,12,13,11,7,18,30,15,45,13,76,89
ALLIED GARDENS,0,1,1,1,15,18,9,11,20,47,36,83,34,137,155
ALTA VISTA,0,0,0,1,4,5,1,0,1,1,3,4,7,12,17

In [74]:
# Remove the first row
crime = crime.iloc[1:]

crime.head()

Crime,Murder,Rape,Armed Robbery,Strong Arm Robbery,Aggravated Assault**,Total Violent Crime,Residential Burglary,Non-Residential Burglary,Total Burglary,Theft >= $400,Theft < $400,Total Thefts,Motor Vehicle Theft,Total Property Crime,Crime Index
neighborhood,,,,,,,,,,,,,,,
ADAMS NORTH,0,1,0,0,12,13,11,7,18,30,15,45,13,76,89
ALLIED GARDENS,0,1,1,1,15,18,9,11,20,47,36,83,34,137,155
ALTA VISTA,0,0,0,1,4,5,1,0,1,1,3,4,7,12,17
AZALEA/HOLLYWOOD PARK,0,0,1,0,11,12,2,1,3,8,12,20,19,42,54
BALBOA PARK,0,2,4,2,38,46,1,20,21,68,31,99,49,169,215

In [75]:
crime.index.name = 'neighborhood'
crime

Crime,Murder,Rape,Armed Robbery,Strong Arm Robbery,Aggravated Assault**,Total Violent Crime,Residential Burglary,Non-Residential Burglary,Total Burglary,Theft >= $400,Theft < $400,Total Thefts,Motor Vehicle Theft,Total Property Crime,Crime Index
neighborhood,,,,,,,,,,,,,,,
ADAMS NORTH,0,1,0,0,12,13,11,7,18,30,15,45,13,76,89
ALLIED GARDENS,0,1,1,1,15,18,9,11,20,47,36,83,34,137,155
ALTA VISTA,0,0,0,1,4,5,1,0,1,1,3,4,7,12,17
AZALEA/HOLLYWOOD PARK,0,0,1,0,11,12,2,1,3,8,12,20,19,42,54
BALBOA PARK,0,2,4,2,38,46,1,20,21,68,31,99,49,169,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UNIVERSITY CITY,0,7,4,22,52,85,71,53,124,418,314,732,137,993,1078
UNIVERSITY HEIGHTS,0,3,2,5,25,35,23,14,37,70,55,125,46,208,243
VALENCIA PARK,0,1,2,2,65,70,5,3,8,23,27,50,46,104,174
WOODED AREA,0,3,1,0,1,5,0,1,1,15,8,23,1,25,30
Total,41,489,567,761,4605,6463,1451,1661,3112,9531,7471,17002,6999,27113,33576

In [76]:
crime_df.to_csv('D:/Project-3/Cleaned_Datasets/crimeClean.csv', index=False)