In [63]:
import csv
import json
import pandas as pd

from pathlib import Path

In [67]:
file = Path('Original Datasets/Crashes/Crashes.csv')

In [68]:
df = pd.read_csv(file)

In [69]:
df.head(15)

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,9017538,2020,2020-03-03,3711,2020-01-31,1742,SD4892,NaN,5,5,...,0,0,-,-,NaN,NaN,SAN DIEGO,SAN DIEGO,-117.245453,32.747261
1,9029501,2020,2020-03-13,3711,2020-01-02,1850,SD7795,NaN,4,5,...,0,0,-,-,NaN,NaN,SAN DIEGO,SAN DIEGO,-117.216782,32.851536
2,9036512,2020,2020-03-18,3711,2020-01-04,1910,SD8861,NaN,6,5,...,0,1,-,-,NaN,NaN,SAN DIEGO,SAN DIEGO,-117.156532,32.716808
3,9067277,2020,2020-05-19,3711,2020-02-20,1538,SD7821,NaN,4,5,...,0,0,-,-,NaN,NaN,SAN DIEGO,SAN DIEGO,-117.130173,32.755402
4,9092028,2020,2020-07-23,3711,2020-04-08,1515,SD7945,NaN,3,5,...,0,0,-,-,NaN,NaN,SAN DIEGO,SAN DIEGO,-117.101898,32.755219
5,9098885,2020,2020-05-20,3711,2020-03-12,730,SD4491,NaN,4,5,...,0,0,-,-,NaN,NaN,SAN DIEGO,SAN DIEGO,-117.054703,32.701290
6,91670093,2021,2022-01-04,9645,2021-09-27,2234,019410,NaN,1,3,...,0,0,-,-,32.759472,-117.197762,SAN DIEGO,SAN DIEGO,-117.197762,32.759472
7,91674965,2022,2022-01-10,9645,2022-01-04,1445,019957,NaN,2,2,...,0,0,-,-,32.752548,-117.109192,SAN DIEGO,SAN DIEGO,-117.108986,32.752548
8,91713028,2022,2022-03-02,9645,2022-02-18,2006,020265,NaN,5,2,...,0,0,-,-,32.553001,-117.049599,SAN DIEGO,SAN DIEGO,-117.049583,32.553036
9,91774254,2022,2022-05-17,9645,2022-05-14,1400,018936,NaN,6,2,...,0,0,-,-,32.972858,-117.250191,SAN DIEGO,SAN DIEGO,-117.250298,32.972820
10,91807155,2022,2022-08-16,9645,2022-06-28,800,016766,NaN,2,1,...,0,1,-,-,32.810921,-117.139252,SAN DIEGO,SAN DIEGO,-117.115578,32.819462
11,91920703,2022,2022-11-17,9645,2022-10-09,1025,016138,NaN,7,1,...,0,0,-,-,32.924412,-117.115303,SAN DIEGO,SAN DIEGO,-117.115051,32.924358
12,91543720,2021,2021-08-12,9645,2021-04-08,834,017667,NaN,4,1,...,0,0,-,-,32.718719,-117.094452,SAN DIEGO,SAN DIEGO,-117.094482,32.718624
13,91584112,2021,2021-09-30,9645,2021-09-22,1725,020161,NaN,3,2,...,0,0,-,-,32.941139,-117.110153,SAN DIEGO,SAN DIEGO,-117.110085,32.941120
14,91596528,2021,2021-10-14,9645,2021-10-12,2202,021077,NaN,2,3,...,0,0,-,-,32.707588,-117.147263,SAN DIEGO,SAN DIEGO,-117.147530,32.707588

In [70]:
df.columns

Index(['CASE_ID', 'ACCIDENT_YEAR', 'PROC_DATE', 'JURIS', 'COLLISION_DATE',
       'COLLISION_TIME', 'OFFICER_ID', 'REPORTING_DISTRICT', 'DAY_OF_WEEK',
       'CHP_SHIFT', 'POPULATION', 'CNTY_CITY_LOC', 'SPECIAL_COND', 'BEAT_TYPE',
       'CHP_BEAT_TYPE', 'CITY_DIVISION_LAPD', 'CHP_BEAT_CLASS', 'BEAT_NUMBER',
       'PRIMARY_RD', 'SECONDARY_RD', 'DISTANCE', 'DIRECTION', 'INTERSECTION',
       'WEATHER_1', 'WEATHER_2', 'STATE_HWY_IND', 'CALTRANS_COUNTY',
       'CALTRANS_DISTRICT', 'STATE_ROUTE', 'ROUTE_SUFFIX', 'POSTMILE_PREFIX',
       'POSTMILE', 'LOCATION_TYPE', 'RAMP_INTERSECTION', 'SIDE_OF_HWY',
       'TOW_AWAY', 'COLLISION_SEVERITY', 'NUMBER_KILLED', 'NUMBER_INJURED',
       'PARTY_COUNT', 'PRIMARY_COLL_FACTOR', 'PCF_CODE_OF_VIOL',
       'PCF_VIOL_CATEGORY', 'PCF_VIOLATION', 'PCF_VIOL_SUBSECTION',
       'HIT_AND_RUN', 'TYPE_OF_COLLISION', 'MVIW', 'PED_ACTION',
       'ROAD_SURFACE', 'ROAD_COND_1', 'ROAD_COND_2', 'LIGHTING',
       'CONTROL_DEVICE', 'CHP_ROAD_TYPE', 'PEDESTRIAN_ACCIDENT',
       'BICYCLE_ACCIDENT', 'MOTORCYCLE_ACCIDENT', 'TRUCK_ACCIDENT',
       'NOT_PRIVATE_PROPERTY', 'ALCOHOL_INVOLVED', 'STWD_VEHTYPE_AT_FAULT',
       'CHP_VEHTYPE_AT_FAULT', 'COUNT_SEVERE_INJ', 'COUNT_VISIBLE_INJ',
       'COUNT_COMPLAINT_PAIN', 'COUNT_PED_KILLED', 'COUNT_PED_INJURED',
       'COUNT_BICYCLIST_KILLED', 'COUNT_BICYCLIST_INJURED', 'COUNT_MC_KILLED',
       'COUNT_MC_INJURED', 'PRIMARY_RAMP', 'SECONDARY_RAMP', 'LATITUDE',
       'LONGITUDE', 'COUNTY', 'CITY', 'POINT_X', 'POINT_Y'],
      dtype='object')

In [71]:
crash_locations_df = df[["ACCIDENT_YEAR", "COLLISION_DATE", "COLLISION_TIME", "DAY_OF_WEEK", "POINT_X", "POINT_Y"]]
crash_locations_df = crash_locations_df.rename(columns = {"POINT_X": "LONGITUDE", "POINT_Y": "LATITUDE"})
crash_locations_df

,ACCIDENT_YEAR,COLLISION_DATE,COLLISION_TIME,DAY_OF_WEEK,LONGITUDE,LATITUDE
0,2020,2020-01-31,1742,5,-117.245453,32.747261
1,2020,2020-01-02,1850,4,-117.216782,32.851536
2,2020,2020-01-04,1910,6,-117.156532,32.716808
3,2020,2020-02-20,1538,4,-117.130173,32.755402
4,2020,2020-04-08,1515,3,-117.101898,32.755219
...,...,...,...,...,...,...
14414,2022,2022-12-22,1436,4,-117.093819,32.817673
14415,2022,2022-12-15,1107,4,-117.164146,32.753555
14416,2022,2022-12-19,905,1,-117.098038,32.696819
14417,2022,2022-12-18,215,7,-117.189941,32.822346
14418,2022,2022-12-01,1249,4,-117.166634,32.761711

In [77]:
crash_locations_numbered_df = crash_locations_df.reset_index()
crash_locations_numbered_df = crash_locations_numbered_df.rename(columns = {"index": "NUMBER"})
crash_locations_numbered_df

,NUMBER,ACCIDENT_YEAR,COLLISION_DATE,COLLISION_TIME,DAY_OF_WEEK,LONGITUDE,LATITUDE
0,0,2020,2020-01-31,1742,5,-117.245453,32.747261
1,1,2020,2020-01-02,1850,4,-117.216782,32.851536
2,2,2020,2020-01-04,1910,6,-117.156532,32.716808
3,3,2020,2020-02-20,1538,4,-117.130173,32.755402
4,4,2020,2020-04-08,1515,3,-117.101898,32.755219
...,...,...,...,...,...,...,...
14414,14414,2022,2022-12-22,1436,4,-117.093819,32.817673
14415,14415,2022,2022-12-15,1107,4,-117.164146,32.753555
14416,14416,2022,2022-12-19,905,1,-117.098038,32.696819
14417,14417,2022,2022-12-18,215,7,-117.189941,32.822346
14418,14418,2022,2022-12-01,1249,4,-117.166634,32.761711

In [78]:
crash_locations_numbered_df.to_csv("Cleaned Datasets/Crash Locations.csv", index=False, header=True)

In [79]:
csv_file = 'Cleaned Datasets/Crash Locations.csv'
json_file = 'Cleaned Datasets/Crash Locations.json'

In [82]:
my_json = {}

with open(csv_file, 'r') as fobj:
    reader = csv.DictReader(fobj)
    for row in reader:
        key = row['NUMBER']
        my_json[key] = row

In [83]:
with open(json_file, 'w') as fobj:
    fobj.write(json.dumps(my_json, indent=2))